
* {
    box-sizing: border-box;
    
}

header {
color: beige;  
margin: 10px;
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.future-weather {
    margin-bottom: 20px;
}

.forecast{
    font-size: 0.9em;
}


span {
    font-size: 1em;
}
.weather {
    margin: 50px 10px 0px 0px;
}

li:hover {
    background-color: rgb(154,205,50);
    text-decoration: underline;
    color:rgb(154,205,50);
}